body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff316;
    font-family: 'Luckiest Guy', cursive;
  }

 
  @font-face{
    font-family: 'Luckiest Guy', cursive;
    src: url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
  }